<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mateusz Pujer</title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link href="https://www.fontspace.com/starjedi-special-edition-font-f9644" rel="stylesheet">
  <link rel="icon" href="static/images/favicon.ico">
</head>

<body>
  <div class="top-container">
    <p class="top-cloud"> </p>
    <div class="title-text">
      <h1>I'm Mateusz</h1>
      <h2>a <span class="pro">pro</span>grammer</h2>

    </div>


  </div>

  <div class="middle-container">
    <div class="profile">
      <img class= "foto" src="static/images/ja kolo.png" alt="mateusz-profile-img">
      <h2 style = "color:black">Hello.</h2>
      <p class="intro">I am a beginner frontend and backend Python developer.</p>
      <p class="intro">  I ❤ competition and strive to be the best.</p>
    </div>
    <hr>
    <div class="skills">
      <h2 style = "color:black">My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media3.giphy.com/media/qgQUggAC3Pfv687qPC/giphy.gif?cid=ecf05e47fzz5gqq9yuzszo5lhvpqg8bnjw3y8e3oj0siyxf8&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="code-img">

        <h3>Design & Development</h3>
        <p>I had my first contact with programming during my studies, but I had to mature to decide that this was the direction in which I would like to develop more.
My goal is to master these skills perfectly and I would also like to create an open-world RPG game.</p>

      </div>
      <div class="skill-row">
        <img class="car" src="static/images/car.png" alt="car-img">

        <h3>Achievements</h3>
        <p>I love being able to do a lot in every area of life.
I had contact with beekeeping, agriculture, welding, construction, computer and smartphone repair, carpentry, electricity, tiling and car mechanics. </p>
        <p>My additional dream is to restore an Audi 100 coupe s.
Isn't it a beautiful car?</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2 style = "color:black">Get In Touch</h2>
      <h3>If you want to contact me.</h3>
      <p class="contact-message">I am open to cooperation. If you trust me, I promise I won't let you down.</p>
      <a class="btn" href="mailto:mateusz.pujer@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/mateusz-pujer-65828a154">LinkedIn</a>

    <p class="copyright">© 2023 Mateusz P @ :)</p>
  </div>
</body>

</html>
